  <div class="wrapper clearfix">
<!--- block to show the client total information --->
            <div class="nav">
              <h2> Name: <%= @person.username%></h2>
              <h2> Welcome to our site</h2>
                 <ul>
                    <p> Account Information </p>
                    <p>Total win by now: <%= @person.totalWin || 0 %> </p>
                    <p>Total loss by now: <%= @person.totalLoss || 0 %> </p>
                    <p>Total proft: <%= @person.totalProfit || 0 %></p>
                  </ul>
                
            </div>
<!--- block to show the client current login information --->
            <div class="section">
                
                 <% if session[:message] %>
                 <h3><%= session[:message] %></h3>
                 <% session[:message]= nil %>
                 <% end %>

                <h1>Place your bet on dice number 1 to 6, Win 10 times</h1>
                <form action ="/bet/<%= @person.username %>" method='POST'>
                 Bet Money on:<input type='text' name='money'></input><br>
                 Num from 1-6:<input type='text' name='num'></input><br>
                <input type ="submit" value ="Bet"/></input>
                </form>

                 <ul>
                  <p>Total win: <%= (session[:win] || 0).to_i%>    
                    Total loss: <%= (session[:lost] || 0).to_i %>     
                    Total profit: <%= profit(:win, :lost) %> </p>
                </ul>

                <p><a href ="/bet/logout/<%= @person.username%>"> logout</a></p>
            </div>
        </div>














